<section class="flex flex-col gap-4 py-1 max-h-[100vh]">
  <div class="h-[45%]">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide
        ><img src="assets/images/PG.jpg" alt="" class="h-[400px]"
      /></ng-template>
      <ng-template carouselSlide
        ><img src="assets/images/asset-12.jpg" alt="" class="h-[400px]"
      /></ng-template>
    </owl-carousel-o>
  </div>

  <section
    class="grid grid-cols-[30%_40%_20%] lg:px-34 md:px-10 gap-8 px-6 h-[50%]"
  >
    <div class="">
      <video
        class="w-fit"
        loop
        autoplay
        oncanplay="this.play()"
        onloadedmetadata="this.muted = true"
      >
        <source src="assets/images/teaser-video.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>

    <div class="flex flex-col gap-10">
      <div class="mt-2">
        <div class="px-2 py-1 bg-[#9B0000] rounded-lg mb-2">
          <h1 class="text-lg text-white">Events</h1>
        </div>
        <ul class="text-lg list-disc list-inside">
          <li class="text-sm">
            Train the Trainer; SUN conducts Executive Empowerment Seminar on
            Digital Skills
          </li>
          <li class="text-sm">
            SUN faculty facilitates Staff Development Program on Followership
          </li>
        </ul>
      </div>
      <div>
        <ul class="list-disc list-inside">
          <div class="px-2 py-1 bg-[#000B49] rounded-lg my-2">
            <h1 class="text-lg text-white">News Updates</h1>
          </div>
          <li class="py-2 text-sm">Admission is now Open</li>
          <li class="text-sm">PostGraduate Degree is now open</li>
        </ul>
      </div>
    </div>

    <div>
      <a
        class="twitter-timeline"
        href="https://twitter.com/SkylineUNigeria?ref_src=twsrc%5Etfw"
      >
        Tweets by SkylineUNigeria
      </a>
      <div #twitterContainer></div>
    </div>
  </section>
  <div
    class="border border-t-red-100 border-b-0 border-l-0 border-r-0 text-center"
  >
    <p class="py-2 text-[#000B49] text-sm">
      Copyright © 2023 Skyline University Nigeria. All Rights Reserved.
    </p>
  </div>
</section>
